.home-container {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(../assets/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

/*****************/
/* Top Component */
/*****************/
.home-top {
  padding-top: 80px !important;
}

.top-greeting {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.top-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}
.main-name {
  color: #cd5ff8;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #be6adf !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #b562d6 !important;
}
@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

/********************/
/* Bottom component */
/********************/
.bottom-container {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.bottom-text {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.bottom-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.bottom-img {
  justify-content: center !important;
  padding-top: 9em !important;
}
@media (max-width: 767px) {
  .bottom-img {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}
